<section id="brain">
    <div class="container">
        <h1>sentiment analysis is not working yet...</h1>
        <div class="row">
            <div class="col-sm-8">
                <div class="border row training">
                    <div class="input col-sm-4">
                        <h2>1. train net</h2>
<!--                             <div class="btn-group" role="group" aria-label="...">
                              <button type="button" ng-click="trainFromReviews('yelp_labelled.txt')" class="btn btn-default">Yelp</button>
                              <button type="button" ng-click="trainFromReviews('amazon_cells_labelled.txt')" class="btn btn-default">Amazon</button>
                              <button type="button" ng-click="trainFromReviews('imdb_labelled.txt')"class="btn btn-default">IMDB</button>
                            </div> -->

                        <form ng-submit="trainFromReviews()">
                            <select class="form-control" name="setSelector" id="setSelector" ng-model="trainingSet.selectedSet">
                                <option ng-repeat="review in trainingSet.reviews" value="{{review.id}}">{{review.name}}</option>
                            </select>
                            <label for="threshold">Error Threshold (%):</label>
                            {{(settings.threshold/10000)}}
                            <input type="range" min="10" max="1000" step="10" ng-model="settings.threshold" />
                            <br/>
                            <label for="iterations">Max Iterations:</label>
                            {{settings.iterations}}
                            <input type="range" min="5000" max="50000" step="1000" ng-model="settings.iterations" />
                            <br/>
                            <label for="iterations">Log Period:</label>
                            {{settings.logPeriod}}
                            <input type="range" min="25" max="5000" step="25" ng-model="settings.logPeriod" />
                            <br/>
                            <button type="submit" class="btn btn-default">Train Net and Save Set</button>
                        </form>
                    </div>
                    <div class="graph col-sm-8">
                        <canvas id="updating-chart"></canvas>
                    </div>
                </div>
            </div>
            <!--end training-->
        </div>
        <!--END ROW-->
        <div class="row">
            <div class="col-sm-8">
                <div class="border">
                    <h2>2. load net</h2>
                    <form class="form-inline" ng-submit="load('reviews')">
                        <button type="submit" class="btn btn-default">Load Training Set from DB</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="border">
                    <h2>3. test net</h2>
                    <div class="row">
                        <div class="testing col-sm-4">
                            <form class="form-inline" ng-submit="testBrain()">
                                <div class="form-group">
                                    <label>Test Value</label>
                                    <input type="text" class="form-control" ng-model="test.val" placeholder="value btwn 0 and 1">
                                </div>
                                <button type="submit" class="btn btn-default">Test the Brain</button>
                            </form>
                        </div>
                        <div class="result col-sm-4">
                            <p>Algorithm result:<span>{{test.result  | number:5}}</span></p>
                            <p>Precise result:<span>{{test.correctVal | number:5}}</span></p>
                            <!--                 <p>Error:<span>{{test.err}}</span></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
