<section id="brain">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="border row training">
                    <div class="input col-sm-4">
                        <h2>1. train net</h2>

                        <form ng-submit="trainFromHousingSet()">
                            <label for="threshold">Error Threshold (%):</label>
                            {{(settings.threshold/10)}}
                            <input type="range" min="10" max="20" step="1" ng-model="settings.threshold" />
                            <br/>
                            <label for="setSize">Size Training Set:</label>
                            {{settings.setSize}}
                            <input type="range" min="100" max="500" step="25" ng-model="settings.setSize" />
                            <br/>
                            <label for="iterations">Max Iterations:</label>
                            {{settings.iterations}}
                            <input type="range" min="5000" max="100000" step="1000" ng-model="settings.iterations" />
                            <br/>
                            <label for="iterations">Log Period:</label>
                            {{settings.logPeriod}}
                            <input type="range" min="1000" max="5000" step="100" ng-model="settings.logPeriod" />
                            <br/>
                            <button type="submit" class="btn btn-default">Train Net and Save Set</button>
                        </form>
                    </div>
                    <div class="graph col-sm-8">
                        <canvas id="updating-chart"></canvas>
                    </div>
                </div>
            </div>
            <!--end training-->
        </div>
        <!--END ROW-->
        <div class="row">
            <div class="col-sm-8">
                <div class="border">
                    <h2>2. load net</h2>
                    <form class="form-inline" ng-submit="load('housing')">
                        <button type="submit" class="btn btn-default">Load Training Set from DB</button>
                    </form>
                    <form class="form-inline" ng-submit="selectSetById()">
                        <div class="form-group">
                        <select class="form-control" name="housingSetSelector" id="housingSetSelector" ng-model="testHousingSet.selectedTrainingSet">
                            <option ng-repeat="entry in allSets.data" value="{{entry}}">{{entry.type}} | size: {{entry.setSize}} itrns: {{entry.iterations}}</option>
                        </select>
                        </div>
                        <button type="submit" class="btn btn-default">Select Set</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="border">
                    <h2>3. test net</h2>
                    <div class="row">
                        <div class="testing col-sm-6">
                            <form class="form-inline" ng-submit="testBrainHousing()">
                                <div class="form-group">
                                <select class="form-control" name="housingTestSelector" id="housingTestSelector" ng-model="testHousingSet.selectedIndex">
                                    <option ng-repeat="entry in testHousingSet.data" value="{{$index}}">Entry #{{$index+1}}</option>
                                </select>
                                </div>
                                <button type="submit" class="btn btn-default">Test the Brain</button>
                            </form>
                        </div>
                        <div class="result col-sm-4">
                            <p>Algorithm result:<span>{{test.result | number : 3}}</span></p>
                            <p>Precise result:<span>{{test.correctVal | number : 3}}</span></p>
                            <p>Error:<span>{{(test.err *100) | number : 3}}%</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
        <div class="alert alert-success" role="alert">
            <!-- {{myVar === "two" ? "it's true" : "it's false"}} -->
          <div ng-class="{{key==='MEDV' ? 'make-bold' : ''}}" ng-repeat="(key, value) in test.detailedInput"> {{key}}: {{key==="MEDV" ? value*1000 : value}} </div>
<!--           <div ng-repeat="(key, value) in test.detailedInput"> {{key}}: {{value}} </div> -->
        </div>
        </div>
        </div>
    </div>
</section>
