h1 {
    text-align: center;
    margin-bottom: 20px;
}

.training {
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    padding: 10px;

    clear:both;
}

#updating-chart{
        width: 100%;
        height: 100%;
    }
    /* width="500" height="300"*/
